<section class="hbox stretch">
                        <section>
                            <section class="vbox">
                                <section class="scrollable padder">
                                    <section class="row m-b-md">
                                        <div class="col-sm-6">
                                            <h3 class="m-b-xs text-black">Dashboard</h3>
                                            <small>Welcome, John Smith, <i class="fa fa-map-marker fa-lg text-primary"></i>Honduras</small>
                                        </div>
                                    </section>
                                    <div class="row">
										<div>
											<div >
												<section class="panel panel-success portlet-item" >
													<header class="panel-heading"> Filtro de Denuncias </header>
													
													<article class="media"> 
														<div class="media-body"> 
														<h4 style="margin:0">Estado de denuncia</h4>
													    <br />												
															<div class="btn-group btn-group-state">
																<button type="button" class="btn btn-default">Todas</button> 
																<button type="button" class="btn btn-default btn-state">Pendientes</button> 
																<button type="button" class="btn btn-default btn-state">Atendidas</button> 
																<button type="button" class="btn btn-default btn-state">En Proceso</button>
																<button type="button" class="btn btn-default btn-state">Cerradas</button>
															</div></span>
														</div> 
													</article>
													<article class="media"> 
														<div class="media-body"> 
														<h4 style="margin:0">Tipo de denuncia</h4>
													    <br />														
															<div class="btn-group btn-group-type">
																<button type="button" class="btn btn-default">Todas</button> 
																<button type="button" class="btn btn-default">Transito</button> 
																<button type="button" class="btn btn-default">Violencia</button> 
																<button type="button" class="btn btn-default">Incendios</button>
																<button type="button" class="btn btn-default">Rescate Medico</button>
																<button type="button" class="btn btn-default">Otras</button>
															</div></span>
														</div> 
													</article>														
													<div style="height:15px">
													</div>
												</section>
												<div>
													<div class="col-sm-6">
														<section class="panel panel-success portlet-item" >
															<header class="panel-heading"> Lista de Denuncias </header>
															<div>
																Grid Aquí
															</div>
														</section>
													</div>
													<div class="col-sm-6">
														<section class="panel panel-success portlet-item" >
															<header class="panel-heading"> Heat Map </header>
															<div>
																Mapa Aquí
															</div>
														</section>
													</div>
												</div>
											</div>
											<div class="col-md-6">
											</div>
										</div>
                                        <div class="col-sm-3 hide">
                                            <section class="panel b-a">
                                                <header class="panel-heading b-b b-light">
                                                    <ul class="nav nav-pills pull-right">
                                                        <li> <a href="ajax.pie.html" class="text-muted" data-bjax data-target="#b-c"> <i class="i i-cycle"></i> </a> </li>
                                                        <li> <a href="#" class="panel-toggle text-muted"> <i class="i i-plus text-active"></i> <i class="i i-minus text"></i> </a> </li>
                                                    </ul>
                                                    Connection
                                                </header>
                                                <div class="panel-body text-center bg-light lter" id="b-c">
                                                    <div class="easypiechart inline m-b m-t" data-percent="60" data-line-width="4" data-bar-color="#23aa8c" data-track-color="#c5d1da" data-color="#2a3844" data-scale-color="false" data-size="120" data-line-cap='butt' data-animate="2000">
                                                        <div>
                                                            <span class="h2 m-l-sm step"></span>%
                                                            <div class="text text-xs">completed</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </section>
                                        </div>
                                    </div>
                                    
                                </section>
                            </section>
                        </section>
                        <!-- side content -->
                        <aside class="aside-md bg-black hide" id="sidebar">
                            <section class="vbox animated fadeInRight">
                                <section class="scrollable">
                                    <div class="wrapper"><strong>Live feed</strong></div>
                                    <ul class="list-group no-bg no-borders auto">
                                        <li class="list-group-item"> <span class="fa-stack pull-left m-r-sm"> <i class="fa fa-circle fa-stack-2x text-success"></i> <i class="fa fa-reply fa-stack-1x text-white"></i> </span> <span class="clear"> <a href="#">Goody@gmail.com</a> sent your email <small class="icon-muted">13 minutes ago</small> </span> </li>
                                        <li class="list-group-item"> <span class="fa-stack pull-left m-r-sm"> <i class="fa fa-circle fa-stack-2x text-danger"></i> <i class="fa fa-file-o fa-stack-1x text-white"></i> </span> <span class="clear"> <a href="#">Mide@live.com</a> invite you to join a meeting <small class="icon-muted">20 minutes ago</small> </span> </li>
                                        <li class="list-group-item"> <span class="fa-stack pull-left m-r-sm"> <i class="fa fa-circle fa-stack-2x text-info"></i> <i class="fa fa-map-marker fa-stack-1x text-white"></i> </span> <span class="clear"> <a href="#">Geoge@yahoo.com</a> is online <small class="icon-muted">1 hour ago</small> </span> </li>
                                        <li class="list-group-item"> <span class="fa-stack pull-left m-r-sm"> <i class="fa fa-circle fa-stack-2x text-primary"></i> <i class="fa fa-info fa-stack-1x text-white"></i> </span> <span class="clear"> <a href="#"><strong>Admin</strong></a> post a info <small class="icon-muted">1 day ago</small> </span> </li>
                                    </ul>
                                    <div class="wrapper"><strong>Friends</strong></div>
                                    <ul class="list-group no-bg no-borders auto">
                                        <li class="list-group-item">
                                            <div class="media">
                                                <span class="pull-left thumb-sm avatar"> <img src="images/a3.jpg" alt="John said" class="img-circle"> <i class="on b-black bottom"></i> </span>
                                                <div class="media-body">
                                                    <div><a href="#">Chris Fox</a></div>
                                                    <small class="text-muted">about 2 minutes ago</small>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-group-item">
                                            <div class="media">
                                                <span class="pull-left thumb-sm avatar"> <img src="images/a2.jpg" alt="John said"> <i class="on b-black bottom"></i> </span>
                                                <div class="media-body">
                                                    <div><a href="#">Amanda Conlan</a></div>
                                                    <small class="text-muted">about 2 hours ago</small>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-group-item">
                                            <div class="media">
                                                <span class="pull-left thumb-sm avatar"> <img src="images/a1.jpg" alt="John said"> <i class="busy b-black bottom"></i> </span>
                                                <div class="media-body">
                                                    <div><a href="#">Dan Doorack</a></div>
                                                    <small class="text-muted">3 days ago</small>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-group-item">
                                            <div class="media">
                                                <span class="pull-left thumb-sm avatar"> <img src="images/a0.jpg" alt="John said"> <i class="away b-black bottom"></i> </span>
                                                <div class="media-body">
                                                    <div><a href="#">Lauren Taylor</a></div>
                                                    <small class="text-muted">about 2 minutes ago</small>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </section>
                            </section>
                        </aside>
                        <!-- / side content -->
                    </section>
                    <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen" data-target="#nav"></a>
					
					<script src="js/jquery-2.1.0.min.js"></script>
					<script src="js/dashboard.js"></script>
					